<button class="btn btn-info" *ngIf="!isEmployee()"(click)="login()">Iniciar Sesión</button>
<button class="btn btn-danger"*ngIf="isEmployee()"(click)="logout()">Cerrar Sesión</button>
<div class="container">
  <table class="table table-hover table-striped">
    <thead class="thead-light">
        <tr>
        <th>Producto</th>
       <th>Precio</th>
      
    </thead>
  
  <tbody *ngFor="let product of products"> 
    <tr>
      <td>{{ product.name }}</td>
      <td *ngIf="!isEmployee()">{{ product.saleprice  | number:'2.2-5' }}</td>
      <td *ngIf="isEmployee()">{{ product.costprice | number:'2.2-5' }}</td>
      <td><button class="btn-primary" (click)="getProduct(product.id)">Comprar</button></td>
      
    </tr>
  </tbody>
</table>
</div>
  
<router-outlet></router-outlet>